<link rel="stylesheet" href="../../static/css/sidebar.css" />
<div class="sticky-top">
  <ul id="sidebar" class="nav flex-column align-items-center ms-3 mt-3">
    <li>
      <a class="nav-link mb-3 mx-2 px-0 py-0" href="/map">
        <div
          clss="w-100"
          style="
            width: 100px;
            height: 30px;
            background-repeat: no-repeat;
            background-image: url('https://d3efyzwqsfoubm.cloudfront.net/asset/default-monochrome.svg');
          "
        ></div>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3 rounded-pill"
      data-toggle="tooltip"
      data-placement="right"
      title="Notification"
    >
      <a class="nav-link" href="/notifications">
        <i class="fa-regular fa-bell"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3 rounded-pill"
      data-toggle="tooltip"
      data-placement="right"
      title="Message"
    >
      <a class="nav-link" href="/messages">
        <i class="fa-regular fa-message"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3 rounded-pill"
      data-toggle="tooltip"
      data-placement="right"
      title="Post"
      data-bs-toggle="modal"
      data-bs-target="#newPostModal"
    >
      <a class="nav-link">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3 rounded-pill"
      data-toggle="tooltip"
      data-placement="right"
      title="User Profile"
    >
      <a id="nav-profile-link" class="nav-link" href="#">
        <i class="fa-regular fa-user"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3 rounded-pill"
      data-toggle="tooltip"
      data-placement="right"
      title="Sign Out"
    >
      <a id="nav-signout-link" class="nav-link" href="/">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </li>
  </ul>
</div>
<div
  class="modal fade"
  id="newPostModal"
  tabindex="-1"
  aria-labelledby="newPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-end">
          <button
            type="button"
            class="btn-close text-end"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form class="w-100 h-100" enctype="multipart/form-data" id="post-form">
          <div class="mb-3 px-5">
            <label for="post-content" class="form-label fs-4 fw-bold"
              >What's happening?</label
            >
            <textarea
              type="text"
              class="col-auto form-control"
              id="post-content"
              name="post-content"
              rows="4"
              maxlength="280"
            ></textarea>
            <div class="text-end" id="the-count">
              <span id="current">0</span>
              <span id="maximum">/ 280</span>
            </div>
          </div>
          <div class="mb-3 px-5 pb-5">
            <div class="d-flex flex-column">
              <label for="post-images" class="form-label fs-4 fw-bold"
                >Add some images?</label
              >
              <div class="flex" id="post-images-container"></div>
            </div>
            <input
              type="file"
              class="col-auto form-control"
              id="post-images"
              name="post-images"
              multiple
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="w-25 d-flex justify-content-end">
          <button
            id="post-button"
            type="button"
            class="btn btn-primary w-100 px-5 rounded-pill mb-3"
            data-bs-dismiss="modal"
          >
            Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="alertModalToggle"
  aria-hidden="true"
  aria-labelledby="alertModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="alertModalToggleLabel"></h6>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal">
          Understand
        </button>
      </div>
    </div>
  </div>
</div>
<script src="../../static/js/sidebar.js"></script>
<script src="../../static/js/new_post.js"></script>
