<div class="sticky-top">
  <ul id="sidebar" class="nav flex-column align-items-center ms-3 mt-3">
    <li>
      <a class="nav-link mb-3 mx-2 px-0 py-0" href="/map">
        <div
          clss="w-100"
          style="
            width: 100px;
            height: 30px;
            background-repeat: no-repeat;
            background-image: url('https://d3efyzwqsfoubm.cloudfront.net/asset/default-monochrome.svg');
          "
        ></div>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3"
      data-toggle="tooltip"
      data-placement="right"
      title="Notification"
    >
      <a class="nav-link" href="/notifications">
        <i class="fa-regular fa-bell"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3"
      data-toggle="tooltip"
      data-placement="right"
      title="Message"
    >
      <a class="nav-link" href="/messages">
        <i class="fa-regular fa-message"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3"
      data-toggle="tooltip"
      data-placement="right"
      title="Post"
    >
      <a class="nav-link" href="/user/newpost">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3"
      data-toggle="tooltip"
      data-placement="right"
      title="User Profile"
    >
      <a id="nav-profile-link" class="nav-link" href="#">
        <i class="fa-regular fa-user"></i>
      </a>
    </li>
    <li
      class="nav-item fs-3 mb-3"
      data-toggle="tooltip"
      data-placement="right"
      title="Sign Out"
    >
      <a id="nav-signout-link" class="nav-link" href="/">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </li>
  </ul>
</div>
<script src="../../static/js/sidebar.js"></script>
