<%- include("../partials/header") -%>
<div class="row h-100 w-100 pt-3">
  <div class="col-1 h-100 mx-0 px-0">
    <%- include("../partials/sidebar") -%>
  </div>
  <div
    class="col-8 h-100 d-flex flex-column justify-content-start overflow-auto"
    id="notifications-section"
  >
    <p class="fs-3 fw-bold text-center">Notifications</p>
  </div>
  <div class="col-3 h-100 border border-light"></div>
</div>
<script src="../../static/js/notifications.js"></script>
<%- include("../partials/footer") -%>
