<%- include("../partials/header") -%>
<div class="row h-75 w-100">
  <div class="col-1 h-100"><%- include("../partials/sidebar") -%></div>
  <div
    class="col-8 h-100 border border-light d-flex flex-column justify-content-between"
  >
    <p class="fs-2 text-center">Notifications</p>
  </div>
  <div class="col-3 h-100 border border-light"></div>
</div>
<script src="../../static/js/notifications.js"></script>
<%- include("../partials/footer") -%>
