<%- include("../partials/header") -%>
<div class="row h-75 w-100 mt-2">
  <div class="col-1 h-100"><%- include("../partials/sidebar") -%></div>
  <div
    class="col-8 h-100 d-flex flex-column justify-content-start"
    id="notifications-section"
  >
    <p class="fs-3 text-center">Notifications</p>
  </div>
  <div class="col-3 h-100 border border-light"></div>
</div>
<script src="../../static/js/notifications.js"></script>
<%- include("../partials/footer") -%>
