<%- include("../partials/header") -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  src="../../static/js/profile.js"
  id="profile-script"
  userId="<%= userId%>"
></script>
<div class="row w-100">
  <div class="col-1"><%- include("../partials/sidebar") -%></div>
  <div class="col-8 d-flex justify-content-center">
    <div class="w-100 h-100 d-flex flex-column">
      <div
        class="rounded-top text-white d-flex flex-row"
        style="background-color: lightblue; height: 210px"
      >
        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
          <img
            src="https://via.placeholder.com/150"
            alt="Generic placeholder image"
            class="img-fluid img-thumbnail rounded-circle mt-4 mb-2"
            style="width: 150px; z-index: 1"
          />
          <button
            id="edit-profile-button"
            type="button"
            class="btn btn-outline-dark"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Edit Profile
          </button>
          <button
            id="follow-button"
            type="button"
            class="btn btn-outline-dark"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Follow
          </button>
          <button
            id="following-button"
            type="button"
            class="btn btn-outline-dark"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Following
          </button>
        </div>
        <div class="ms-3" style="margin-top: 80px">
          <p class="fs-4" id="name"></p>
          <p class="fs-6" id="location"></p>
          <a class="fs-6" id="website" href=""></a>
        </div>
      </div>
      <div class="p-4 text-black" style="background-color: #f8f9fa">
        <div
          class="d-flex justify-content-end text-center py-1 align-items-center"
        >
          <div id="send-message-link" class="px-3 btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.5em"
              height="1.5em"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
          </div>
          <div id="followers-link" class="btn px-3 d-flex text-center">
            <p id="followers-count" class="mx-1 fs-6 my-0"></p>
            <p class="text-secondary my-0">Followers</p>
          </div>
          <div id="following-link" class="btn px-3 d-flex text-center">
            <p id="following-count" class="mx-1 fs-6 my-0"></p>
            <p class="text-secondary my-0">Following</p>
          </div>
        </div>
      </div>
      <div id="posts-section"></div>
    </div>
  </div>
  <div id="follow-list-section" class="col-3 invisible">
    <div
      id="follow-list-title"
      class="border-bottom text-center fs-3 mb-1"
    ></div>
    <div id="follow-list-details" class="d-flex flex-column"></div>
  </div>
</div>
<%- include("../partials/footer") -%>
