<%- include("../partials/header") -%>
<link rel="stylesheet" href="../../static/css/profile.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  src="../../static/js/profile.js"
  id="profile-script"
  userId="<%= userId%>"
></script>
<div class="row h-100 w-100 pt-3">
  <div class="col-1 px-0 mx-0"><%- include("../partials/sidebar") -%></div>
  <div
    class="invisible col-10 d-flex justify-content-center"
    id="profile-center-column"
  >
    <div class="w-100 h-100 d-flex flex-column">
      <div
        id="background-image"
        class="rounded-top text-white d-flex flex-row"
        style="
          min-height: 200px;
          max-height: 200px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        "
      >
        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
          <img
            src="https://via.placeholder.com/150"
            alt="Generic placeholder image"
            class="img-fluid img-thumbnail rounded-circle mt-4 mb-2"
            style="min-width: 150px; min-height: 150px; z-index: 1"
            id="profile-image"
          />
          <button
            id="edit-profile-button"
            type="button"
            class="btn btn-outline-primary"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Edit Profile
          </button>
          <button
            id="follow-button"
            type="button"
            class="btn btn-outline-primary"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Follow
          </button>
          <button
            id="following-button"
            type="button"
            class="btn btn-outline-primary"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
            data-bs-toggle="modal"
            data-bs-target="#confirmUnfollowModal"
          >
            Following
          </button>
          <div
            class="modal fade"
            id="confirmUnfollowModal"
            tabindex="-1"
            aria-labelledby="confirmUnfollowModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content mx-5">
                <div class="modal-header px-5">
                  <h4
                    class="text-dark modal-title"
                    id="confirmUnfollowModalLabel"
                  >
                    Are you sure?
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column px-5">
                  <h6 class="text-muted mb-3">
                    You will not see notifications from unfollowed users.
                  </h6>
                  <button
                    type="button"
                    class="btn btn-danger mb-3 rounded-pill"
                    id="confirm-unfollow-button"
                    data-bs-dismiss="modal"
                  >
                    Unfollow
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary mb-3 rounded-pill"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
          <img
            src="https://via.placeholder.com/150"
            alt="Generic placeholder image"
            class="img-fluid img-thumbnail rounded-circle mt-4 mb-2 invisible"
            style="min-width: 150px; min-height: 150px; z-index: 1"
          />
          <button
            id="block-button"
            type="button"
            class="btn btn-outline-danger"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
            data-bs-toggle="modal"
            data-bs-target="#confirmBlockModal"
          >
            Block
          </button>
          <button
            id="blocked-button"
            type="button"
            class="btn btn-outline-danger"
            data-mdb-ripple-color="dark"
            style="z-index: 1"
          >
            Blocked
          </button>
          <div
            class="modal fade"
            id="confirmBlockModal"
            tabindex="-1"
            aria-labelledby="confirmBlockModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content mx-5">
                <div class="modal-header px-5">
                  <h4 class="text-dark modal-title" id="confirmBlockModalLabel">
                    Are you sure?
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body d-flex flex-column px-5">
                  <h6 class="text-muted mb-3">
                    Blocked users will not be able to view your profile, and you
                    will not see notifications from them.
                  </h6>
                  <button
                    type="button"
                    class="btn btn-danger mb-3 rounded-pill"
                    id="confirm-block-button"
                    data-bs-dismiss="modal"
                  >
                    Block
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary mb-3 rounded-pill"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 text-black" style="background-color: #f8f9fa">
        <div class="mt-5">
          <p class="fs-3 fw-bold my-1" id="name"></p>
          <p class="fs-6 my-1" id="bio"></p>
          <div class="d-flex justify-content-start align-items-center">
            <div class="d-flex align-items-center">
              <div>
                <i class="fa-solid fa-link"></i>
                <a class="fs-6 mx-1" id="website" href=""></a>
              </div>
              <div class="ms-1 d-flex align-items-center">
                <i
                  id="interests-icon"
                  class="fa-regular fa-heart invisible"
                ></i>
                <div id="interests-list"></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-end text-center py-1 align-items-center"
        >
          <div id="send-message-link" class="px-3 btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.5em"
              height="1.5em"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
          </div>
          <div
            id="followers-link"
            class="btn px-3 d-flex text-center"
            data-bs-toggle="offcanvas"
            data-bs-target="#follow-list-offcanvas"
            aria-controls="follow-list-offcanvas"
          >
            <p id="followers-count" class="mx-1 fs-6 my-0"></p>
            <p class="text-secondary my-0">Followers</p>
          </div>
          <div
            id="following-link"
            class="btn px-3 d-flex text-center"
            data-bs-toggle="offcanvas"
            data-bs-target="#follow-list-offcanvas"
            aria-controls="follow-list-offcanvas"
          >
            <p id="following-count" class="mx-1 fs-6 my-0"></p>
            <p class="text-secondary my-0">Following</p>
          </div>
        </div>
      </div>
      <div id="posts-section"></div>
      <div
        class="modal fade"
        id="confirmDeletePostModal"
        tabindex="-1"
        aria-labelledby="confirmDeletePostModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content mx-5">
            <div class="modal-header px-5">
              <h4
                class="text-dark modal-title"
                id="confirmDeletePostModalLabel"
              >
                Are you sure?
              </h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body d-flex flex-column px-5">
              <h6 class="text-muted mb-3">Click detele to delete your post.</h6>
              <button
                type="button"
                class="btn btn-danger mb-3 rounded-pill"
                id="confirm-delete-post-button"
                data-bs-dismiss="modal"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary mb-3 rounded-pill"
                data-bs-dismiss="modal"
                post-id=""
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    tabindex="-1"
    id="follow-list-offcanvas"
    aria-labelledby="follow-list-offcanvas"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="follow-list-offcanvas-title"></h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div id="follow-list-details" class="d-flex flex-column"></div>
    </div>
  </div>
</div>
<%- include("../partials/footer") -%>
