<%- include("../partials/header") -%>
<div class="row">
  <div class="col-1"><%- include("../partials/sidebar") -%></div>
  <div class="col-10">This is profile</div>
  <div class="col-1">This is just blank</div>
</div>
<%- include("../partials/footer") -%>
