<%- include('../partials/header'); %>
<form class="signup-form">
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="name"
      id="name"
      name="name"
      class="form-control"
      placeholder="Name"
      required
    />
    <label for="name">Name</label>
  </div>
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email address"
      required
    />
    <label for="email">Email address</label>
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="sign-in-form form-floating mb-3 w-50 mx-auto">
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <label for="password">Password</label>
  </div>
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="location"
      id="location"
      name="location"
      class="form-control"
      placeholder="Location"
    />
    <label for="location">Location (optional)</label>
  </div>
  <div class="form-floating mb-3 w-50 mx-auto">
    <input
      type="website"
      id="website"
      name="website"
      class="form-control"
      placeholder="website"
    />
    <label for="website">Website (optional)</label>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="Submit" id="signup-button" class="btn btn-primary">
      Sign Up
    </button>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<%- include('../partials/footer'); %>
