<%- include('../partials/header'); %>
<div class="row h-100 w-100 pt-3">
  <div class="col-1 h-100 mx-0 px-0">
    <%- include("../partials/sidebar") -%>
  </div>
  <div
    class="col-10 h-100 d-flex flex-column justify-content-between pb-5 px-0"
  >
    <form class="signin-form">
      <div class="form-floating mb-3 w-50 mx-auto">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Email address"
          value="Eddie@test.com"
          required
        />
        <label for="email">Email address</label>
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="sign-in-form form-floating mb-3 w-50 mx-auto">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          value="Eddie"
          required
        />
        <label for="password">Password</label>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <button type="submit" id="signin-button" class="btn btn-primary">
          Sign In
        </button>
      </div>

      <div class="fs-6 d-grid gap-2 col-6 mx-auto mb-3">
        Not registered yet?
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/signup" class="w-100">
          <button type="button" class="btn btn-outline-primary w-100">
            Click here to sign up
          </button>
        </a>
      </div>
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../static/js/signin.js"></script>
<%- include('../partials/footer'); %>
